/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: light) {
  :root {
  --themes-background: #FFF;
  --themes-main-color: #000;
  --background-gradient: #d3d3d3;
  --gradient: 180deg, #E7E7E7 0%, #1A1A1A 100%;
  --wgth-large: 700;
  --wgth-small: 400;
  --text-stroke: 0.8px #fff;
  --hover-color: #fff;
  --red-heart: #FF0000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --themes-background: #000;
    --themes-main-color: #00CC14;
    --background-gradient: #000;
    --gradient: 180deg, #007F0C 0%, #004306 100%;
    --wgth-large: 785;
    --wgth-small: 465;
    --text-stroke: 0.2px #000;
    --hover-color: #000;
    --red-heart: #FF0000;
  }
}


.theme-dark {
  --themes-background: #000;
  --themes-main-color: #00CC14;
  --background-gradient: #000;
  --gradient: 180deg, #007F0C 0%, #004306 100%;
  --wgth-large: 785;
  --wgth-small: 465;
  --text-stroke: 0.2px #000;
  --hover-color: #000;
  --red-heart: #FF0000;
}




.theme-light {
  --themes-background: #FFF;
  --themes-main-color: #000;
  --background-gradient: #d3d3d3;
  --gradient: 180deg, #E7E7E7 0%, #1A1A1A 100%;
  --wgth-large: 700;
  --wgth-small: 400;
  --text-stroke: 0.8px #fff;
  --hover-color: #fff;
  --red-heart: #FF0000;
}


